Checks: -*, cppcoreguidelines-*, clang-analyzer-*, -cppcoreguidelines-non-private-member-variables-in-classes,
  modernize-*, -modernize-use-trailing-return-type, 
  bugprone-*, cert-*, misc-*, -misc-include-cleaner, -misc-non-private-member-variables-in-classes, 
  performance-*, readability-*,-readability-uppercase-literal-suffix, 
  -readability-identifier-length, -readability-isolate-declaration, -readability-magic-numbers, -performance-enum-size
WarningsAsErrors: "*"